<h1>Welcome to the KIEI-925 Casino!</h1>

<p> Refresh your page to deal your cards </p>

<p><% 	card = ["ace",2,3,4,5,6,7,8,9,10, "jack", "queen","king"] 
		suite = ["hearts", "spades", "diamonds", "clubs"]	%>
	
															
		<!-- url=   http://golearntocode.com/images/cards/<%=card.sample%>_of_<%=suite.sample%>.png -->
		<img src = "http://golearntocode.com/images/cards/<%=card.sample%>_of_<%=suite.sample%>.png">
		<img src = "http://golearntocode.com/images/cards/<%=card.sample%>_of_<%=suite.sample%>.png">
		<img src = "http://golearntocode.com/images/cards/<%=card.sample%>_of_<%=suite.sample%>.png">
		<img src = "http://golearntocode.com/images/cards/<%=card.sample%>_of_<%=suite.sample%>.png">
		<img src = "http://golearntocode.com/images/cards/<%=card.sample%>_of_<%=suite.sample%>.png">
		
	
</p>

<!-- %= prints out directly to the output -->
<!-- Deal the cards here -->